<aside class="sidebar filters">
  <section class="panel">
      <p class="results"><span class="count">{{resultsCount}}</span> entries found to fit active filters.</p>
      <search>
          {{!-- Localise this! --}}
          <input type="search" placeholder="Search Character Gallery" />
      </search>
  </section>

</aside>
